@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Charlotte Road<br />
    Charlotte, NC 28262<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:arionalmond@outlook.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:arionalmond@outlook.com">Marketing@example.com</a>
</address>