@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Card App</h1>
    <p class="lead">Text Paragraph</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Google</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            P Text
        </p>
        <p><a class="btn btn-default" href="https://google.com">Link Text</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Paragraph</h2>
        <p>
            P Text
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/">Micro Link</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pgraph</h2>
        <p>Text</p>
        <p><a class="btn btn-default" href="https://amazon.com">Amazon</a></p>
    </div>
</div>